@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url("http://26.207.242.213/visionframe_v2/src/netflix.jpeg");
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem de fundo */
    background-attachment: fixed; /* Mantém a imagem fixa durante o scroll */
    height: 100vh; /* Garante que o corpo ocupe 100% da altura da tela */
    margin: 0; /* Remove qualquer margem padrão do body */
    display: flex;
    align-items: center; /* Alinha o container verticalmente */
    overflow: hidden; /* Impede o scroll se o conteúdo ultrapassar a tela */
}


.container {
    color: whitesmoke;
    padding: 20px;
    text-align: left;
    animation: fadeInUp 1s ease-out forwards;
    transform: translate(0, -40px);
}

.container h1 {
    font-family: "Oswald", sans-serif;
    font-size: 400%;
    opacity: 0; /* Inicializa o título invisível */
    animation: fadeInDown 1s 0.5s forwards; /* Animação para o título aparecer de cima */
}

.container button {
    font-family: "Oswald", sans-serif;
    font-size: 200%;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.7); /* Cor de fundo do botão com transparência */
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    opacity: 0; /* Inicializa o botão invisível */
    animation: slideInFromRight 1s 1s forwards; /* Animação para o botão aparecer da direita */
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: rgba(255, 0, 0, 1); /* Mudança na cor do botão quando em hover */
}

.container h3 {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    margin-top: -3%;
    opacity: 0; /* Inicializa o subtítulo invisível */
    animation: fadeInUp 1s 1.5s forwards; /* Animação para o subtítulo aparecer de baixo */
}

/* Animação para o título aparecer de cima */
@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-30px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Animação para o subtítulo aparecer de baixo */
@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Animação para o botão aparecer da direita */
@keyframes slideInFromRight {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}


header {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav img {
    width: 100px;
    height: 40px;
    object-fit: cover;
}
